<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="container">
    <div class="card shadow col-md-6 mx-auto">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Specjalizacja</h4>
        </div>
        <div class="card-body">
            <form action="/admin/specjalizacje/zapisz" method="post" th:object="${specjalizacja}">
                <input type="hidden" name="isEdit" th:value="${isEdit}">

                <div class="mb-3">
                    <label>Nazwa Specjalizacji (ID) *</label>
                    <input type="text" th:field="*{nazwaSpecjalizacji}" class="form-control"
                           th:readonly="${isEdit}" required placeholder="np. Chirurg">
                    <div class="form-text" th:if="${isEdit}">Nazwy nie można zmienić.</div>
                </div>

                <div class="mb-3">
                    <label>Opis *</label>
                    <textarea th:field="*{opis}" class="form-control" rows="3" required></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg">Zapisz Specjalizację</button>
                    <a href="/admin/specjalizacje" class="btn btn-outline-secondary btn-lg">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{layout :: scripts}"></div>
</body>
</html>