<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Słownik Specjalizacji</h1>
        <a href="/admin/specjalizacje/nowa" class="btn btn-success">+ Dodaj Specjalizację</a>
    </div>

    <form action="/admin/specjalizacje" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="szukaj" class="form-control" placeholder="Szukaj specjalizacji..." th:value="${param.szukaj}">

            <a th:if="${param.szukaj != null && !#strings.isEmpty(param.szukaj)}" th:href="@{/admin/specjalizacje}" class="btn btn-outline-secondary" title="Wyczyść filtr">&times;</a>

            <button class="btn btn-outline-primary" type="submit">Szukaj</button>
        </div>
    </form>

    <div th:if="${param.error}" class="alert alert-danger">
        Nie można usunąć (specjalizacja przypisana do lekarza).
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th>
                        <a th:href="@{/admin/specjalizacje(szukaj=${param.szukaj}, sortField='nazwaSpecjalizacji', sortDir=${sortField == 'nazwaSpecjalizacji' ? reverseSortDir : 'asc'})}"
                           class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                            Nazwa
                            <span th:if="${sortField == 'nazwaSpecjalizacji'}"><i th:class="${sortDir == 'asc' ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'}"></i></span>
                            <span th:unless="${sortField == 'nazwaSpecjalizacji'}" class="text-muted opacity-25"><i class="bi bi-arrow-down-up"></i></span>
                        </a>
                    </th>
                    <th>Opis</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${specjalizacje}">
                    <td th:text="${s.nazwaSpecjalizacji}" class="fw-bold"></td>
                    <td th:text="${s.opis}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a th:href="@{/admin/specjalizacje/edytuj/{id}(id=${s.nazwaSpecjalizacji})}" class="btn btn-sm btn-warning">Edytuj</a>
                            <a th:href="@{/admin/specjalizacje/usun/{id}(id=${s.nazwaSpecjalizacji})}"
                               class="btn btn-sm btn-danger" onclick="return confirm('Usunąć?')">Usuń</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{layout :: scripts}"></div>
</body>
</html>