<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <h1>Personel Medyczny</h1>
        <a href="/lekarze/nowy" class="btn btn-primary">+ Dodaj Lekarza</a>
    </div>

    <div th:if="${param.error}" class="alert alert-danger">Nie można usunąć lekarza (posiada wizyty/recepty).</div>

    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
        <tr>
            <th>PWZ</th>
            <th>Imię i Nazwisko</th>
            <th>Specjalizacje</th>
            <th>Telefon</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${lekarze}">
            <td th:text="${l.numerPwz}"></td>
            <td th:text="${l.nazwisko} + ' ' + ${l.imie}"></td>
            <td>
                    <span th:each="s : ${l.specjalizacje}" th:text="${s.nazwaSpecjalizacji}"
                          class="badge bg-info text-dark me-1"></span>
            </td>
            <td th:text="${l.telefonSluzbowy}"></td>
            <td>
                <a th:href="@{/lekarze/edytuj/{id}(id=${l.numerPwz})}" class="btn btn-sm btn-warning">Edytuj</a>
                <a th:href="@{/lekarze/usun/{id}(id=${l.numerPwz})}" class="btn btn-sm btn-danger"
                   onclick="return confirm('Usunąć lekarza?')">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{layout :: scripts}"></div>
</body>
</html>