<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>

<div class="container">
    <div class="card shadow col-md-6 col-lg-5 mx-auto mt-4">

        <div class="card-header bg-success text-white">
            <h4 class="mb-0" th:text="${isEdit ? 'Edycja Skierowania' : 'Nowe Skierowanie'}"></h4>
        </div>

        <div class="card-body">

            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

            <form th:action="@{/skierowania/zapisz}" th:object="${skierowanie}" method="post">
                <input type="hidden" name="isEdit" th:value="${isEdit}">
                <input type="hidden" th:field="*{pacjent.pesel}">
                <input type="hidden" th:field="*{lekarz.numerPwz}">
                <input type="hidden" th:field="*{wizyta.numerWizyty}">
                <input type="hidden" th:field="*{dataWystawienia}">
                <input type="hidden" name="source" th:value="${source}">

                <div class="row mb-4 bg-light p-3 border rounded mx-0 text-center">

                    <div class="col-4 border-end px-1">
                        <label class="text-muted small text-uppercase fw-bold" style="font-size: 0.7rem;">Wizyta</label>
                        <div class="fw-bold text-dark mt-1"
                             th:text="${#temporals.format(skierowanie.wizyta.dataIGodzina, 'dd.MM.yyyy')}">
                        </div>
                        <small class="text-muted" th:text="${#temporals.format(skierowanie.wizyta.dataIGodzina, 'HH:mm')}"></small>
                    </div>

                    <div class="col-4 border-end px-1">
                        <label class="text-muted small text-uppercase fw-bold" style="font-size: 0.7rem;">Pacjent</label>
                        <div class="fw-bold text-dark mt-1"
                             th:text="${skierowanie.pacjent.nazwisko} + ' ' + ${#strings.substring(skierowanie.pacjent.imie,0,1)} + '.'">
                        </div>
                        <small class="text-muted" th:text="${skierowanie.pacjent.pesel}"></small>
                    </div>

                    <div class="col-4 px-1">
                        <label class="text-muted small text-uppercase fw-bold" style="font-size: 0.7rem;">Lekarz</label>
                        <div class="fw-bold text-dark mt-1"
                             th:text="${skierowanie.lekarz.nazwisko}">
                        </div>
                        <small class="text-muted">Kierujący</small>
                    </div>
                </div>

                <div>
                    <p>
                        <a th:href="@{/wizyta/{id}(id=${skierowanie.wizyta.numerWizyty})}"
                           class="d-block fw-bold text-primary text-decoration-none mt-1"
                           title="Przejdź do szczegółów wizyty">
                            <span th:text="'Przejdź do wizyty'"></span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </p>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Kod dokumentu (Nr skierowania) *</label>
                    <input type="text" th:field="*{kodDokumentu}" class="form-control"
                           th:readonly="${isEdit}"
                           th:classappend="${#fields.hasErrors('kodDokumentu')} ? 'is-invalid'"
                           placeholder="Wpisz numer..." maxlength="4" required>

                    <div class="invalid-feedback" th:errors="*{kodDokumentu}">Błąd kodu</div>
                    <div class="form-text small" th:if="${!isEdit}">Kod musi być unikalny dla pacjenta.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Cel badania / Poradnia *</label>
                    <input type="text" th:field="*{celBadania}" class="form-control"
                           th:classappend="${#fields.hasErrors('celBadania')} ? 'is-invalid'"
                           placeholder="np. RTG Klatki piersiowej" maxlength="255" required>
                    <div class="invalid-feedback" th:errors="*{celBadania}">Pole wymagane</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Rozpoznanie wstępne (opcjonalne)</label>
                    <textarea th:field="*{rozpoznanieWstepne}" class="form-control" rows="3"
                              th:classappend="${#fields.hasErrors('rozpoznanieWstepne')} ? 'is-invalid'"
                              placeholder="Dodatkowe uwagi..." maxlength="255"></textarea>
                    <div class="invalid-feedback" th:errors="*{rozpoznanieWstepne}">Błąd danych</div>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-success btn-lg"
                            th:text="${isEdit ? 'Zapisz' : 'Zatwierdź i Wystaw'}">
                        Zatwierdź i Wystaw
                    </button>

                    <a th:if="${isEdit && source != 'wizyta'}" href="/skierowania" class="btn btn-outline-secondary">Anuluj</a>
                    <a th:if="${isEdit && source == 'wizyta'}" th:href="@{/wizyta/{id}(id=${skierowanie.wizyta.numerWizyty})}" class="btn btn-outline-secondary">Anuluj</a>

                    <a th:if="${!isEdit && source == 'wizyta'}"
                       th:href="@{/wizyta/{id}(id=${skierowanie.wizyta.numerWizyty})}"
                       class="btn btn-outline-secondary">Anuluj</a>

                    <a th:if="${!isEdit && source != 'wizyta'}"
                       href="/skierowania"
                       class="btn btn-outline-secondary">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{layout :: scripts}"></div>
</body>
</html>